<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body{
            background: url(img/04.gif) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

    </style>


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Miningstore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Product/List">Все товары</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Product/List/cpu">Процессоры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Product/List/gpu">Видеокарты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/ShopCart/">Корзина</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container mt-5" style="color:#ff0000">

        @RenderBody()
    </div>
    <footer class="container">
        <p class="float-right"><a href="#">Наверх</a></p>
        <p>© 2019 Company, Inc. · <a href="#"></a> · <a href="#"></a></p>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
</body>
</html>
