@model HomeViewModels

<h2>Лучшие товары</h2>

<div class="row mt-5 mb-2">
    @{
        foreach (Product product in Model.favProducts)
        {

            @Html.Partial("AllProducts", product)
        }
    }

</div>